<% semantic_remote_form_for [@parent, @server_image_group], :remote => true do |f| %>
    <%= hidden_field_tag :anchor, 'server_image_groups' %>
    <%= hidden_field_tag :update, 'provider_account_server_image_groups' %>
    <%= f.error_messages %>
    <% f.inputs do %>
      <%= f.input :server_image_category, :label => 'Category',
          :as => :select,
          :collection => @parent.server_image_categories
      %>
      <%= f.input :name,
        :class => 'short'
      %>
      <%= f.input :description,
        :input_html => { :class => 'autogrow', :warp => 'soft', :size => '40x2' },
        :required => false
      %>
    <% end %>
    <fieldset class="inputs">
      <ol>
      <%= swapselect :server_image_group,
      @server_image_group,
      :server_images,
      @parent.server_images.map{ |server_image| [server_image.name, server_image.id]}
      %>
      </ol>
    </fieldset>
    <% f.buttons do %>
      <%= f.submit %>
      <%= cancel_add_provider_account_server_image_group_button 'Cancel', @provider_account %>
    <% end %>
  <% end %>
</div>
