    <% fields_for "server_image_group", server_image_group do |f| %>
    <% content_tag_for :tr, server_image_group, :readonly => false, :class => '' do %>
        <%= f.hidden_field :id, :index => nil %>
        <td class="handle">[drag]</td>
        <td><%= (server_image_group.server_image_category.nil? ? '&nbsp;' : h(server_image_group.server_image_category.name)) %></td>
        <td><%= link_to_remote h(server_image_group.name), :url => send("edit_#{ @parent_type }_server_image_group_url", @parent, server_image_group), :method => :get %></td>
        <td><%=h server_image_group.description %></td>
        <td><%= remove_provider_account_server_image_group_link('Delete', @parent, server_image_group) %></td>
    <% end %>
    <% end %>
