These configurations can be used by Auto Scaling Groups.
<br/>
<br/>
<%= will_paginate_search_field "provider_account_#{@provider_account.id}_launch_configuration_search",
  nil, nil, :list, 'Search by ' + LaunchConfiguration.search_fields.collect{|f| f.titleize}.join(', ') %>

<%= refresh_image 'Refresh', 'launch_configurations', nil, :list, nil %>

<span class="vr">&nbsp;</span>

<%= link_to(
  image_tag('add.png', :class => 'control-icon', :alt => 'Add', :title => 'Add a New Launch Configuration'),
  new_provider_account_launch_configuration_path(@provider_account),
  :method => :get
)
-%>

<span class="vr">&nbsp;</span>

<b>Total: <span id="provider_account_<%= @provider_account.id %>_launch_configurations_total"><%= @launch_configurations.total_entries %></span></b>

<hr/>

<%= render :partial => 'provider_account/launch_configurations/list' %>
