<% fields_for "load_balancer[health_check_attributes][]", health_check do |f| %>
  <% content_tag_for :tr, health_check do %>
    <td>
      <% unless health_check.new_record? %>
        <%= f.hidden_field :id, :index => nil %>
      <% end %>
      <%= f.select :target_protocol, ELB_TARGET_PROTOCOL_NAMES, :index => nil %>
      <%= f.text_field :target_port, :class => :tiny, :index => nil %>
      <%= f.text_field :target_path, :index => nil %>
      <%= f.text_field :interval, :class => :tiny, :index => nil %> sec
    </td>
    <td>
      <%= f.text_field :timeout, :class => :tiny, :index => nil %> sec
    </td>
    <td>
      <%= f.text_field :unhealthy_threshold, :class => :tiny, :index => nil %> /
      <%= f.text_field :healthy_threshold, :class => :tiny, :index => nil %>
      attempts
    </td>
  <% end %>
<% end %>