    <% fields_for "health_check", health_check do |f| %>
    <% content_tag_for :tr, health_check, :readonly => false, :class => '' do %>
        <%= f.hidden_field :id, :index => nil %>
        <td><%= health_check.target %></td>
        <td><%= health_check.timeout %></td>
        <td><%= health_check.interval %></td>
        <td><%= health_check.unhealthy_threshold %></td>
        <td><%= health_check.healthy_threshold %></td>
        <td>
          <%= edit_load_balancer_health_check_link('Edit', @parent, health_check) %>
          <%= remove_load_balancer_health_check_link('Delete', @parent, health_check) %>
        </td>
    <% end %>
    <% end %>
