<p>
  <b>Load balancer:</b>
  <%=h @health_check.load_balancer_id %>
</p>

<p>
  <b>Healthy threshold:</b>
  <%=h @health_check.healthy_threshold %>
</p>

<p>
  <b>Interval:</b>
  <%=h @health_check.interval %>
</p>

<p>
  <b>Target protocol:</b>
  <%=h @health_check.target_protocol %>
</p>

<p>
  <b>Target port:</b>
  <%=h @health_check.target_port %>
</p>

<p>
  <b>Target path:</b>
  <%=h @health_check.target_path %>
</p>

<p>
  <b>Timeout:</b>
  <%=h @health_check.timeout %>
</p>

<p>
  <b>Unhealthy threshold:</b>
  <%=h @health_check.unhealthy_threshold %>
</p>


<%= link_to 'Edit', edit_health_check_path(@health_check) %> |
<%= link_to 'Back', health_checks_path %>
