<h1>Listing load_balancer_policies</h1>

<table>
  <tr>
    <th>Load balancer</th>
    <th>Type</th>
    <th>Policy name</th>
    <th>Cookie name</th>
    <th>Cookie expiration period</th>
  </tr>

<% for load_balancer_policy in @load_balancer_policies %>
  <tr>
    <td><%=h load_balancer_policy.load_balancer_id %></td>
    <td><%=h load_balancer_policy.type %></td>
    <td><%=h load_balancer_policy.policy_name %></td>
    <td><%=h load_balancer_policy.cookie_name %></td>
    <td><%=h load_balancer_policy.cookie_expiration_period %></td>
    <td><%= link_to 'Show', load_balancer_policy %></td>
    <td><%= link_to 'Edit', edit_load_balancer_policy_path(load_balancer_policy) %></td>
    <td><%= link_to 'Destroy', load_balancer_policy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New load_balancer_policy', new_load_balancer_policy_path %>
