<p>
  <b>Load balancer:</b>
  <%=h @load_balancer_policy.load_balancer_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @load_balancer_policy.type %>
</p>

<p>
  <b>Policy name:</b>
  <%=h @load_balancer_policy.policy_name %>
</p>

<p>
  <b>Cookie name:</b>
  <%=h @load_balancer_policy.cookie_name %>
</p>

<p>
  <b>Cookie expiration period:</b>
  <%=h @load_balancer_policy.cookie_expiration_period %>
</p>


<%= link_to 'Edit', edit_load_balancer_policy_path(@load_balancer_policy) %> |
<%= link_to 'Back', load_balancer_policies_path %>
