<h1>Available Instances</h1>
<hr/>

Filter by Cluster <%= collection_select(nil, :cluster_id, @clusters, :id, :name,
  {:prompt   => "select a cluster"},
  {:onchange => "#{remote_function(:url  => {:action => "update_servers"}, :with => "'cluster_id='+value")}"})
-%>

Server <span id="load_balancer_servers">
  <%= render :partial => 'servers' -%>
</span>

Instance <span id="load_balancer_find_instance">
  <%= render :partial => 'find_instance' -%>
</span>

<div class="records-table">
  <table class="smaller">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>State</th>
        <th>Instance</th>
        <th>AS Group</th>
        <th>Owner</th>
        <th>Zone</th>
        <th>Console</th>
      </tr>
    </thead>
    <tbody id="load_balancer_available_instances">
      <%= render :partial => "load_balancer_instance_states/instance",
        :collection => @instances, :locals => { :load_balancer_instance_state => nil } %>
    </tbody>
  </table>
</div>

<h1>Load Balanced Instances</h1>
<hr/>

<div class="records-table">
  <table class="smaller">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>State</th>
        <th>Instance</th>
        <th>AS Group</th>
        <th>Owner</th>
        <th>Zone</th>
        <th>Console</th>
      </tr>
    </thead>
    <tbody id="load_balancer_instances">
      <%= render :partial => "load_balancer_instance_states/load_balancer_instance_state",
        :collection => @load_balancer.load_balancer_instance_states %>
    </tbody>
  </table>
</div>
