<% subtitle 'IO Profiles' %>

<h1><%= link_to 'Admin Controls', admin_controls_path %> / IO Profiles</h1>
<br/>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <tbody id="io_profiles">
    <% for io_profile in @io_profiles %>
      <% fields_for "io_profile", io_profile do |f| %>
        <% content_tag_for :tr, io_profile, :readonly => false, :class => '' do %>
          <%= f.hidden_field :id, :index => nil %>
          <td class="handle">[drag]</td>
          <td><%= link_to h(io_profile.name), edit_io_profile_path(io_profile) %></td>
          <td><%=h io_profile.desc %></td>
          <td>
            <%= link_to image_tag('trash.png', { :alt => "Delete", :class => 'control-icon' }), io_profile, :confirm => 'Are you sure?', :method => :delete -%>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= sortable_element("io_profiles", :url => sort_io_profiles_path, :tag => "tr", :handle => "handle" ) %>

<br />

<%= link_to 'Add IO Profile', new_io_profile_path %>
