<h1>Listing io_profiles</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Desc</th>
  </tr>

<% for io_profiles in @io_profiles %>
  <tr>
    <td><%=h io_profiles.position %></td>
    <td><%=h io_profiles.name %></td>
    <td><%=h io_profiles.desc %></td>
    <td><%= link_to 'Show', io_profiles %></td>
    <td><%= link_to 'Edit', edit_io_profiles_path(io_profiles) %></td>
    <td><%= link_to 'Destroy', io_profiles, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New io_profiles', new_io_profiles_path %>
