<p>
  <b>Position:</b>
  <%=h @io_profiles.position %>
</p>

<p>
  <b>Name:</b>
  <%=h @io_profiles.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @io_profiles.desc %>
</p>


<%= link_to 'Edit', edit_io_profiles_path(@io_profiles) %> |
<%= link_to 'Back', io_profiles_path %>
