<% @reserved_instances ||= [] %>
<h1>Reserved Instances<%= h(@account_group.nil? ? '' : " in Account Group '#{@account_group.name}'") %></h1>
<hr/>
<% if @reserved_instances.empty? %>
  No reserved instances.
  <br/>
  <br/>
<% else %>
  <table>
    <tr>
      <th>Zone</th>
      <th>Type</th>
      <th>Reserved</th>
      <th>Usage Price</th>
    </tr>
    <% @reserved_instances.each do |i| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= i.zone %></td>
        <td><%= i.instance_type %></td>
        <td><%= i.count %></td>
        <td><%= i.usage_price %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% @running_instances ||= [] %>
<h1>Running Instances<%= h(@account_group.nil? ? '' : " in Account Group '#{@account_group.name}'") %></h1>
<hr/>
<% if @running_instances.empty? %>
  No running instances.
  <br/>
  <br/>
<% else %>
  <table>
    <tr>
      <th>Zone</th>
      <th>Type</th>
      <th>Running</th>
      <th>Reserved</th>
      <th>&nbsp;</th>
    </tr>
    <% @running_instances.each do |i| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= i.zone %></td>
        <td><%= i.instance_type %></td>
        <td><%= i.count %></td>
        <%
          ri = @reserved_instances.detect{
            |r| r.zone_id == i.zone_id and r.instance_vm_type_id == i.instance_vm_type_id
          }
          reserved_count = 0
          reserved_desc = ''
          unless ri.nil?
            reserved_count = ri.count
          end
          if reserved_count < i.count
            reserved_desc = 'reserve more'
          elsif reserved_count > i.count
            reserved_desc = 'fill from other zones'
          else
            reserved_desc = 'optimal'
          end
        %>
        <td><%= reserved_count %></td>
        <td class="<%= reserved_desc %>"><%= reserved_desc %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% @server_stats ||= [] %>
<h1>
  Statistics
  <%= (@server_stats.empty? ? '' : " as of "+time_and_time_ago(@server_stats[0].taken_at)) %>
</h1>
<hr/>
<% if @server_stats.empty? %>
  The Statistics are collected every <%=time_ago_in_words(Time.now - StatsAdapter.frequency()).sub('about ','') %>. No Statistics have been collected for this Account yet.
  <br/>
  <br/>
<% else %>
  <table class="scrollable">
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Server</th>
        <th>Instance Type</th>
        <th>Running</th>
        <th>Server Cost / month</th>
        <th>Cluster Cost / month</th>
      </tr>
    </thead>
    <tbody>
      <%
        @server_stats.each do |ss|
        td_class = (ss.server_count.nil? ? '' : ' top')
      %>
        <tr class="<%= cycle("even", "odd") %>">
          <% unless ss.server_count.nil? %>
              <td rowspan="<%= ss.server_count  %>" class="left<%= td_class -%> right">
                  <%= ss.cluster.name %>
              </td>
          <% end %>
          <td class="<%= td_class -%>"><%= ss.server.name %></td>
          <td class="<%= td_class -%>"><%= ss.instance_type %></td>
          <td class="<%= td_class -%>"><%= ss.instance_count %></td>
          <td class="<%= td_class -%>">
            <%= (
              ss.server_cost.nil? ?
                'NA' :
                 number_to_currency(ss.server_cost*730,
                   :unit => '$',
                   :precision => 2)
            ) %>
          </td>
          <% unless ss.server_count.nil? %>
          <td rowspan="<%= ss.server_count  %>" class="left<%= td_class -%> right">
            <%= (
              ss.cluster_cost.nil? ?
                '&nbsp;' :
                 number_to_currency(ss.cluster_cost*730,
                   :unit => '$',
                   :precision => 2)
            ) %>
          </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
<% end %>
