<% @reserved_instances ||= [] %>
<h1>Reserved Instances<%= h(@account_group.nil? ? '' : " in Account Group '#{@account_group.name}'") %></h1>
<hr/>
<% if @reserved_instances.empty? %>
  No reserved instances.
  <br/>
  <br/>
<% else %>
  <table>
    <tr>
      <th>Zone</th>
      <th>Type</th>
      <th>Total</th>
      <th>Usage Price</th>
    </tr>
    <% @reserved_instances.each do |i| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= i.zone %></td>
        <td><%= i.instance_type %></td>
        <td><%= i.count %></td>
        <td><%= i.usage_price %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% @running_instances ||= [] %>
<h1>Running Instances<%= h(@account_group.nil? ? '' : " in Account Group '#{@account_group.name}'") %></h1>
<hr/>
<% if @running_instances.empty? %>
  No running instances.
  <br/>
  <br/>
<% else %>
  <table>
    <tr>
      <th>Zone</th>
      <th>Type</th>
      <th>Total</th>
    </tr>
    <% @running_instances.each do |i| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= i.zone %></td>
        <td><%= i.instance_type %></td>
        <td><%= i.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% @server_stats ||= [] %>
<h1>Statistics</h1>
<hr/>
<% if @server_stats.empty? %>
  The Statistics are collected every 5 minutes. No Statistics have been collected for this Account yet.
  <br/>
  <br/>
<% else %>
  <table class="scrollable">
    <thead>
      <tr>
        <th>Cluster</th>
        <th>Server</th>
        <th>Instance Type</th>
        <th>Running</th>
      </tr>
    </thead>
    <tbody>
      <% @server_stats.each do |ss| %>
        <tr class="<%= cycle("even", "odd") %>">
          <td><%= ss.cluster.name %></td>
          <td><%= ss.server.name %></td>
          <td><%= ss.instance_type %></td>
          <td><%= ss.instance_count %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<% end %>
