<% subtitle h(@user.login) %>

<h1><%= link_to 'Admin Controls', admin_controls_path %> / <%= link_to "Users", admin_users_path %> / <%=h @user.login %></h1>

<br/>

<strong>User:</strong> <%=h @user.login %><br/><br/>
<strong>Registered on:</strong> <%= @user.created_at.to_s(:long) %>

<br/>
<br/>

<strong>Instances Started By <%=h @user.login %></strong>
<%= periodically_call_remote_with_checkbox(:id => :owner_instances, :name => 'refresh automatically', :url => owner_instances_url(@user.id), :method => :get, :with=>"'search='+$('owner_#{@user.id}_instance_search').value", :frequency => '30') %>
<br/>
<br/>
<span id="owner_<%= @user.id %>_instances_index" class="smaller"></span>

<br/>

<strong><%=h @user.login %>'s Recent Activity</strong>
<%= periodically_call_remote_with_checkbox(:id => :audit_logs, :name => 'refresh automatically', :url => list_audit_logs_url, :method => :get, :with=>"'search='+$('author_#{@user.id}_audit_log_search').value", :frequency => '30') %>
<span id="author_<%= @user.id %>_audit_logs_index"></span>

<br/>

<%= javascript_tag(remote_function(:url => owner_instances_url(@user.id), :method => :get) ) %>
<%= javascript_tag(remote_function(:url => audit_logs_url, :method => :get) ) %>
