<% semantic_remote_form_for [@parent, @load_balancer], :remote => true do |f| %>
  <%= close_redbox_button 'Cancel', 'xxlarge_redbox' %>
  <%= f.submit 'Submit' %>
  <br/>
  <br/>

  <%= hidden_field_tag :anchor, 'load_balancers' %>
  <%= hidden_field_tag :update, 'provider_account_load_balancers' %>
  <%= f.error_messages %>

  <h1>General Information</h1>
  <hr/>
  <table>
    <tr>
      <th>Load Balancer Name</th>
      <td><%= f.text_field :load_balancer_name, { :class => 'long' } %></td>
    </tr>
  </table>

  <h1>Listeners</h1>
  <hr/>
  <%= render :partial => "load_balancer_listeners/index" %>

  <h1>Health Checks</h1>
  <hr/>
  <%= render :partial => "health_checks/index" %>

  <%= render :partial => "load_balancer_instance_states/index" %>

  <%= close_redbox_button 'Cancel', 'xxlarge_redbox' %>
  <%= f.submit 'Submit' %>
<% end %>