Search: <%= will_paginate_search_field "provider_account_#{@provider_account.id}_load_balancers_search", nil, nil, :list %>

<%= refresh_image 'Refresh', 'load_balancers', nil, :list, nil %>

<span class="vr">&nbsp;</span>

<%= add_provider_account_load_balancer_link('Add', @provider_account) %>

<span class="vr">&nbsp;</span>

<b>Total: <span id="provider_account_<%= @provider_account.id %>_load_balancers_total"><%= @load_balancers.total_entries %></span></b>

<hr/>

<div id="provider_account_<%= @provider_account.id %>_load_balancers">
  <%= render :partial => "load_balancers/list" %>
</div>
