<tr class="load_balancer_listener">
  <td>
    <%= f.select :protocol, ELB_TARGET_PROTOCOL_NAMES %>
  </td>
  <td>
    <%= f.text_field :load_balancer_port, :class => :medium %>
  </td>
  <td>
    <%= f.select :instance_protocol, ELB_TARGET_PROTOCOL_NAMES %>
  </td>
  <td>
    <%= f.text_field :instance_port, :class => :medium %>
  </td>
  <td>
    <%= remove_link_unless_new_record(f) -%>
  </td>
</tr>
