    <% fields_for "load_balancer", load_balancer do |f| %>
    <% content_tag_for :tr, load_balancer, :readonly => false, :class => '' do %>
        <%= f.hidden_field :id, :index => nil %>
        <td>
          <%= edit_provider_account_load_balancer_link('Edit', @parent, load_balancer) %>
        </td>
        <td><%= h load_balancer.d_n_s_name %></td>
        <td>
            <% load_balancer.load_balancer_listeners.each do |l| %>
                <%= l.description %><br/>
            <% end %>
        </td>
        <td>
            <% load_balancer.zones.each do |z| %>
                <%= z.name %><br/>
            <% end %>
        </td>
        <td>
          <%= remove_provider_account_load_balancer_link('Delete', @parent, load_balancer) %>
        </td>
    <% end %>
    <% end %>
