<h1>
  Load Balancer:
  <%=h @load_balancer.load_balancer_name %>
  ( <%=h @load_balancer.d_n_s_name %> )
</h1>
<hr/>

<h1>Listeners</h1><br/>
<span id="load_balancer_<%= @load_balancer.id %>_load_balancer_listeners_index" class="smaller"></span>

<h1>Health Checks</h1><br/>
Your load balancer will automatically perform health checks on your EC2 instances and only route traffic to instances that pass the health check. If an instance fails the health check, it is automatically removed from the load balancer.
<br/><br/>
<span id="load_balancer_<%= @load_balancer.id %>_health_checks_index" class="smaller"></span>

<br/>
<h1>Instances</h1>
<span id="load_balancer_<%= @load_balancer.id %>_instances_index" class="smaller"></span>

<%= javascript_tag(remote_function(:url => load_balancer_load_balancer_listeners_url(@load_balancer.id), :method => :get) ) %>
<%= javascript_tag(remote_function(:url => load_balancer_health_checks_url(@load_balancer.id), :method => :get) ) %>
<%= javascript_tag(remote_function(:url => load_balancer_instances_url(@load_balancer.id), :method => :get) ) %>
